body{
    background-image: url('../img/matrix.gif');
  }


#rectangle{
  width:1200px;
  height:3000px;
  background-color:#11011a;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:-1;
  margin-left:200px;
  border: 20px solid #32132b;;
}

.sidenav {
    height:auto;
    width:150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top:0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: #32132b;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:20px;
    margin-left:-245px;
      
}
    
    /* The navigation menu links */
    .sidenav a {
      padding: 10px 10px;
      text-decoration: none;
      font-style:italic;
      font-size: 25px;
      color: rgb(255, 94, 145);
      display: block;
  
    }
  
    .sidenav a:hover {
      cursor: pointer;
      opacity: .2;
    }
    
    .main {
       /* Same as the width of the sidebar */
      padding: 0px 10px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
    .header {
      max-width:700px;
      margin:auto;
      text-align:left;
      color:rgb(242, 129, 165);
      font-size:35px;
      background: -webkit-linear-gradient(rgb(255, 102, 151), #4345c6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height:1.6em;
      height: 123px;
    }

    .subtitle{
      max-width:700px;
      margin:auto;
      text-align:left;
      color:#4345c6;
      position:relative;
      font-size:20px;
      top: -30px;
      
  }

    #container{
      margin:auto;
      text-align:left;
      color:#ffd9ec;
      font-family:Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1.7em;
      max-width:700px;
    
    }

   div {
      font-family: myFirstFont;
    } 
  @font-face {
      font-family: myFirstFont;
      src: url(../css/terminal-grotesque.ttf);
      font-size: 60px;
    }
  
  .paragraph{
      display: grid;
      font-family:helvetica;
      color:#ffd9ec;
      grid-template-columns: 99% 1%;
      grid-column-gap:20px;
  }
    
  .image-container{
    height:10px;
    padding-left:20px;
  
  }
  
  


  
 